# Sass
.sass-cache/
*.css.map
*.sass.map
*.scss.map

# Directories
node_modules
Build/Release
dev
dist
temp
test

# Logs
Logs
*.Log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Etc
*.tsbuildinfo
.eslintcache
.npm
.nuxt
