/* COLORS */
$col_primary: #111;
$col_primary_light: #222;
$col_warning: #ff777d;
$col_black: #000;
$col_white: #fff;
$col_bg_01: #eee;
$col_bg_02: #ddd;
$col_bg_03: #ccc;
$col_font_01: #111;
$col_font_02: #222;
$col_font_03: #333;

/* FONTS */
$font_family_default: 'NotoSans' !important;
$font_size_10: 1rem;
$font_size_12: 1.2rem;
$font_size_14: 1.4rem;

/* SPACING */
$space_10: 1rem;
$space_20: 2rem;
$space_30: 3rem;
$space_40: 4rem;
$space_50: 5rem;
$space_60: 6rem;
$space_70: 7rem;
$space_80: 8rem;
$space_90: 9rem;
$space_100: 10rem;
