<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tabs</title>
    <script src="../../js/module.js" type="module"></script>
    <link rel="stylesheet" type="text/css" href="./tabs.css" />
  </head>
  <body>
    <div class="tabs">
      <h2>탭 메뉴 1</h2>
      <p>기본 노출 : 콘텐츠 1</p>
      <br />
      <nav data-tab="tab1" data-tab-init="0">
        <ul>
          <li><a data-tab-index="0">탭 1</a></li>
          <li><a data-tab-index="1">탭 2</a></li>
          <li><a data-tab-index="2">탭 3</a></li>
        </ul>
      </nav>

      <section data-tab-content="tab1">
        <div data-tab-index="0">콘텐츠 1</div>
        <div data-tab-index="1">콘텐츠 2</div>
        <div data-tab-index="2">콘텐츠 3</div>
      </section>

      <br /><br /><br />

      <h2>텝 메뉴 2</h2>
      <p>기본 노출 : 콘텐츠 3</p>
      <br />
      <nav data-tab="tab2" data-tab-init="2">
        <ul>
          <li><a data-tab-index="0">탭 1</a></li>
          <li><a data-tab-index="1">탭 2</a></li>
          <li><a data-tab-index="2">탭 3</a></li>
        </ul>
      </nav>

      <section data-tab-content="tab2">
        <div data-tab-index="0">콘텐츠 1</div>
        <div data-tab-index="1">콘텐츠 2</div>
        <div data-tab-index="2">콘텐츠 3</div>
      </section>
    </div>
  </body>
</html>
