<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fancybox</title>
    <link rel="stylesheet" type="text/css" href="../lib/Fancybox.js/fancybox.css" />
    <script type="text/javascript" src="../lib/Fancybox.js/fancybox.umd.js"></script>
  </head>
  <body>
    <a href="../images/sample.jpeg" data-fancybox="gallery" data-caption="Caption #2">
      <img src="../images/sample.jpeg" style="width: 50px" />
    </a>

    <script>
      Fancybox.bind('[data-fancybox]', {
        // Your custom options
      });
    </script>
  </body>
</html>
